.active-link {
    background-color: #5079ce;
    color: #fff !important;
  }
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-right: 15px;
  }
  
.dropdown1:hover .dropdown-content {
    display: block;
  }

  .ditem{
    margin-bottom: 0;
    padding: 8px 15px;
  }

 

  @media screen and (max-width: 767px) {
    .nav-show{
        display: none;
    }
    .nav-show1{
        display: block;
      }
    .dropdown-content{
     margin-right: 0px;
     right: 0px;
    }
    
  }
  