.addusermodel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .close-but{
    color: #fff;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: x-large;
  }

@media screen and (max-width: 767px) {
  .addusermodel{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
  }
  .resdiv{
    display: flex;
    width: 0px;
}
.textdiv{
    align-items: center;
}
  
}

.btn-border{
  border: 1px solid #47125c;
}

