.rel-div{
    position: relative;
}

/* for poster 1 */
.div-title1{
    position:absolute;
    top:24%;
    width: 100%;
    text-align: center;
    color: white;
}
.div-place1{
    position:absolute;
    top:78%;
    left: 31%
}
.div-sdate1{
    position:absolute;
    top:75%;
    left: 31%
}
.div-edate1{
    position:absolute;
    top:75%;
    left: 64%
}
.div-link1{
    position: absolute;
    top: 81%;
    width: 100%;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}

/* for poster 1 */
.div-title6{
    position:absolute;
    top:27%;
    width: 100%;
    text-align: center;
    color: white;
}
.div-place6{
    position:absolute;
    top:75%;
    left: 31%
}
.div-sdate6{
    position:absolute;
    top:72%;
    left: 31%
}
.div-edate6{
    position:absolute;
    top:73%;
    left: 64%
}
.div-link6{
    position: absolute;
    top: 79%;
    width: 100%;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}


/* for poster 5 */
.div-title5{
    position:absolute;
    top:38%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
}
.div-place5{
    position:absolute;
    top:67%;
    left: 62%
}
.div-sdate5{
    position:absolute;
    top:67%;
    left: 40%
}
.div-edate5{
    position:absolute;
    top:78%;
    left: 42%
}

.div-link5{
    position: absolute;
    top: 82%;
    width: 100%;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}

.spkimg16{
    position: absolute;
    top: 46%;
    left: 11%;
    border-radius: 50%;
    height: 19%;
    width: 22%;
    
}
.spkname16{
    position: absolute;
    top: 51%;
    left: 37%;
    
}
.spkqualification16{
    position: absolute;
    top: 57%;
    left: 37%;
    
    
}


/* for poster 2 */
.div-title2{
    position:absolute;
    width: 100%;
    text-align: center;
    top:22%;
    color: white;
    
}
.div-place2{
    position:absolute;
    top:74%;
    left: 21%
}
.div-sdate2{
    position:absolute;
    top:71%;
    left: 21%
}
.div-edate2{
    position:absolute;
    top:71%;
    left: 60%
}

.div-link2{
    position: absolute;
    top: 77%;
    width: 100%;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}
.spkimg12{
    position: absolute;
    top: 43%;
    left: 12%;
    border-radius: 50%;
    height: 15%;
    width: 24%;
    
}
.spkname12{
    position: absolute;
    top: 59%;
    left: 4%;
    width: 170px;
    text-align: center;
    font-size: 12px;
    
}
.spkqualification12{
    position: absolute;
    top: 63%;
    left: 4%;
    width: 170px;
    text-align: center;
    font-size: 12px;
    
}
.spkimg22{
    position: absolute;
    top: 43%;
    left: 60%;
    border-radius: 50%;
    height: 15%;
    width: 24%;
    
}
.spkname22{
    position: absolute;
    top: 59%;
    left: 52%;
    width: 170px;
    text-align: center;
    font-size: 12px;
    
}
.spkqualification22{
    position: absolute;
    top: 63%;
    left: 52%;
    width: 170px;
    text-align: center;
    font-size: 12px;
    
    
}

/* for poster 3 */
.div-title3{
    position: absolute;
    top: 34%;
    width: 100%;
    left: 7%;
    text-align: left;
}
.div-place3{
    position:absolute;
    top:49%;
    left: 17%
}
.div-sdate3{
    position:absolute;
    top:46%;
    left: 17%
}
.div-edate3{
    position:absolute;
    top:46%;
    left: 50%
}

.div-link3{
    position: absolute;
    top: 95%;
    width: 100%;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}


.spkimg13{
    position: absolute;
    top: 55%;
    left: 7%;
    border-radius: 50%;
    height: 19%;
    width: 22%;
    
}
.spkname13{
    position: absolute;
    width: 140px;
    text-align: center;
    top: 78%;
    left: 1%;
    font-size: 12px;
   
    
}
.spkqualification13{
    position: absolute;
    width: 140px;
    text-align: center;
    top: 82%;
    left: 1%;
    font-size: 12px;
    
    
}


.spkimg23{
    position: absolute;
    top: 55%;
    left: 45%;
    border-radius: 50%;
    height: 19%;
    width: 22%;
    
}
.spkname23{
    position: absolute;
    top: 61%;
    left: 69%;
    width: 125px;
    text-align: left;
    font-size: 12px;
      
}
.spkqualification23{
    position: absolute;
    top: 65%;
    left: 69%;
    width: 125px;
    text-align: left;
    font-size: 12px;
    
}


.spkimg33{
    position: absolute;
    top: 75%;
    left: 45%;
    border-radius: 50%;
    height: 19%;
    width: 22%;
    
}
.spkname33{
    position: absolute;
    top: 81%;
    left: 69%;
    width: 125px;
    text-align: left;
    font-size: 12px;
    
    
}
.spkqualification33{
    position: absolute;
    top: 85%;
    left: 69%;
    width: 125px;
    text-align: left;
    font-size: 12px;
    
}

/* for poster 4 */
.div-title4{
    position:absolute;
    top:33%;
    width: 100%;
    text-align: center;
    color: white;
}
.div-place4{
    position:absolute;
    top:42%;
    left: 18%
}
.div-sdate4{
    position:absolute;
    top:39%;
    left: 18%
}
.div-edate4{
    position:absolute;
    top:39%;
    left: 56%
}
.div-link4{
    position: absolute;
    top: 88%;
    width: 100%;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}
/* for poster 4 */

.spkimg14{
    position: absolute;
    top: 46%;
    left: 20%;
    border-radius: 50%;
    height: 11%;
    width: 15%;
}
.spkname14{
    position: absolute;
    top: 58%;
    left: 7%;
    width: 160px;
    text-align: center;
    font-size: 10px;
}
.spkqualification14{
    position: absolute;
    top: 61%;
    left: 7%;
    width: 160px;
    text-align: center;
    font-size: 10px;
    
}


.spkimg24{
    position: absolute;
    top: 46%;
    left: 65%;
    border-radius: 50%;
    height: 11%;
    width: 15%;
    
}
.spkname24{
    position: absolute;
    top: 58%;
    left: 53%;
    width: 160px;
    text-align: center;
    font-size: 10px;
}
.spkqualification24{
    position: absolute;
    top: 61%;
    left: 53%;
    width: 160px;
    text-align: center;
    font-size: 10px;
    
    
}

.spkimg34{
    position: absolute;
    top: 67%;
    left: 19%;
    border-radius: 50%;
    height: 12%;
    width: 16%;
    
}
.spkname34{
    position: absolute;
    top: 80%;
    left: 8%;
    width: 160px;
    text-align: center;
    font-size: 10px;
}
.spkqualification34{
    position: absolute;
    top: 83%;
    left: 8%;
    width: 160px;
    text-align: center;
    font-size: 10px;
    
    
}


.spkimg44{
    position: absolute;
    top: 67%;
    left: 65%;
    border-radius: 50%;
    height: 12%;
    width: 16%;
    
}
.spkname44{
    position: absolute;
    top: 80%;
    left: 53%;
    width: 160px;
    text-align: center;
    font-size: 10px;
}
.spkqualification44{
    position: absolute;
    top: 83%;
    left: 53%;
    width: 160px;
    text-align: center;
    font-size: 10px;
    
}

.spkimg11{
    position: absolute;
    top: 36%;
    left: 39%;
    border-radius: 50%;
    height: 19%;
    width: 22%;
    
}
.spkname11{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    
}
.spkqualification11{
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    
    
}










.addEmail{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}

.mdiv{
    width:500px;
}

.Spk_image{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
}


/* calender css */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 125px;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
    
  }
  
  .dmain{
    
    padding: 5px 10px;
    border-bottom: 1px solid #e7e2e2;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .dmain:hover{
    cursor: pointer;
    background-color: #d0e5f8;
  }

  .simg{
    height: 25px;
    width: 25px;
  }

  .sptag{
    margin: auto;
    font-size: 15px;
  }


  /*for page css*/

  .title-style{
    background-color: #c8ddf3;
    color: #123a88;
  }
  .details-style{
    background: linear-gradient(to bottom, #0c529e, #032d5b);
    color: #fff;
  }

  .card-border{
    border: 1px solid  #032d5b;
  }
  .mfont{
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    .mdiv{
        width: 360px;
    }
  }